# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Elf binaries
*.elf

# Vagrant
/.vagrant/

# Other
/userland/helloworld/hello

# SDK binaries
/sdk/bootdisk/bin/hello
/sdk/c.img